.box{
    height: 230px;
    width: 1000px;
    background-color:#586069;
    margin-left: 170px;
}
img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 3px dotted #ffc501;
    position: relative;
    left:400px;
    top:40px;

}
.rect{
    height: 87px;
    width: 500px;
    background-color:#ffc501;
    margin-left: 390px;
    position: absolute;
   top: 200px;
   border-radius: 10px;
   
}
#text{
    font-size: 55px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:5px;
    left: 60px;
}
.box1{
    height: 27px;
    width: 1000px;
    background-color:#586069;
    margin-left: 170px;
}
p{
text-align: center;
font-size: 17px;
margin-top: 2px;

}
hr{
    color: grey;
    width: 1000px;
    margin-left: 170px;
}
.fas{
    color:#ffc501;
    padding-left: 7px;
    padding-top: 12px;
    margin-left: 5px;
   
  }
.circle{
    list-style-type: none;
    height:44px;
    width:44px;
    background-color: black;
    border-radius: 50%;
    margin-left: 130px;
    
  
}
#profile{
    margin-left: 70px;
    margin-top:-31px;
    font-size: 25px;
    font-weight: 700px;
    white-space: nowrap;
}
.col{
    margin-left: 70px;
    font-size: 16px;
}
.profiletext{
    text-align: justify;
    margin-left: 160px;
 padding-right: 20%;
 font-weight: 600;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin:auto;
   
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .fa-briefcase{
    color:#ffc501;
    padding-left: 7px;
    padding-top: 15px;
    margin-left: 5px;
    
  
  }

  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}


.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: -75px;
}

.skill {
    margin: 0.4em 0;
    position: relative;
    width: 22.5em;
    margin-left: 140px;
    /* margin-top: 28px; */
}

.skill__type {
    color: black;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
   
}

.skill__outer-bar, .skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: #333;
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100 {
    width: 100%;
    background: #F8A518;
}
.skill__inner-bar--90 {
    width: 90%;
    background: #18A6F8;
  
}
.skill__inner-bar--80 {
    width: 80%;
    background: #F8DD18;
}
.skill__inner-bar--70 {
    width: 80%;
    background: #8718F8;
}
.skill__inner-bar--60 {
    width: 90%;
    background: #F818B5;
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}


.pbar{
    position:absolute;
    margin: -60px;
    margin-top: -5px;
    font-weight: 600;
  }

  h1{
      font-size: 19px;
      /* text-align: center; */
      font-weight: bold;
      margin-left: 368px;
  }

  .fa-flask{
    color:#ffc501;
    padding-left: 7px;
    padding-top: 15px;
    margin-left: 5px;
    
  
  }
  #newH
  {
      margin-left: 158px;
      font-size: 18px;
      font-weight: bold;
  }
  #sp{
      margin-left: 125px;
  }
  span{
      margin-left: 158px;
      font-weight: 600;
  }
  .wEx{
     
      margin-left: 158px;
  }
  .wEx1{
    text-align: justify;
    padding-right: 20%;
    font-weight: 600;
    
}

.fa-graduation-cap{
    margin-top: 3px;
    margin-left: 3px;
}
.divider
{
height:1500px;
  width :2px;
 
  
  border-left: 3px solid gray;
           
            position:absolute;
            left: 50%;
            margin-top: -340px;
}
#newH1
{
    margin-left: 182px;
    font-size: 18px;
    font-weight: bold;
}
#sl{
    margin-left: 182px;
}
.newCon {
    margin-left:-90px;
}